<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, inital-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>登录到系统</title>
</head>

<body>
    <p>登录测试</p>
    <form action="./login" method="post">
        <input type="text" name="uname" required placeholder="用户名" />
        <input type="password" name="password" required placeholder="密码" />
        <br />
        <input type="text" name="captcha" placeholder="验证码" />
        <img src="./captcha" alt="验证码" title="换一张" class="validImg" id="img" width="88" height="30">
        <input name="submit" type="submit" value="提交">
    </form>
    </div>
    <p class="info"></p>

    <script>

    </script>
</body>

</html>