li {
	list-style-type: none;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.reg_box {
	width: 90%;
	background-color: #f2eded61;
    box-shadow: 0 0 9px 2px #c0c0c073;
    margin: auto;
    max-width: 800px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bsslabel {
	color: white;
	font-size: 28px;
	box-shadow: 0px 5px 6px 0px #c7bbbb78;
    margin: auto;
    line-height: 50px;
}

/* buyer, seller switcher */
.buyerseller {
	background-color: #1c90ecd4;
}
.outerSwitch {
	position: relative;
    display: inline-flex;
    width: 49%;
    height: 50px;
    cursor: pointer;
    text-align: center;
}

.sw {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 0px;
	width: 0px;
	border: 0;
	overflow: hidden;
}

.outerSwitch label {
	display: inline-block;
	width: 90%;
	color: black;
	
	font-size: 24px;
	text-align: center;
	padding: 8px 16px;
	transition: all 0.1s ease-in-out;
}
.outerSwitch label:hover {
	cursor: pointer;
}

.sw:checked + label {
	color: white;
	background-color: #2196F390;
	border-bottom: 2px solid #2196F3CD;
}

/* register info */
.reg_info {
	display: block;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
}

.reg_align {
	display: block;
	text-align: center;
	margin: auto;
	max-width: 60%;
	min-width: 350px;
}

.infoinput {
	border-radius: 20px;
	box-shadow: 0px 0px 8px 2px #cacacab3;
	background-color: white;
    border: none;
    min-width: 50%;
    max-width: 80%;
    outline: none;
    line-height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    text-align: center;
	font-size: 18px;
}
.infoinput:focus {
    outline-width: 0;
}

.checkpsw {
	list-style-type: none;
	display: none;
}
.checkinfo li {
	line-height: 25px;
	text-align: left;
}

.after_align {
	margin-top: 50px;
}
.after_align label {
	display: inline-block;
}

.genderOuter {
	margin: auto;
}
.genderSwitch {
	display: inline-block;
}

.bioinput {
	resize: none;
}

.confirmB {
	margin-top: 80px;
	padding-bottom: 10px;
	text-align: center;
}

.confirmButton {
	display: block;
	background-color: #2284d98a;
	color: white;
	border-radius: 25px;
	box-shadow: 0 0 8px 2px #d5cfcf70;
	border: none;
	cursor: pointer;
	width: 100px;
	height: 40px;
	font-size: 28px;
	margin: auto;
}
.confirmButton:focus {
    outline-width: 0;
}


/* checking info valid */
.checkinfo {
	padding-left: 0;
}


/* gender */
.gender {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 0px;
	width: 0px;
	border: 0;
	overflow: hidden;
}
.genderlabel {
	display: inline-block;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	transition: all 0.1s linear;
}
.genderlabel:hover {
	cursor: pointer;
}
.genderSwitch input:checked + label {
	color: white;
	background-color: #0d8febc2;
	border-radius: 5px;
	line-height: 32px;
}

/* avatar */
.avatar {
    margin: auto;
}
.avatar img{
	display: inline-flex;
}
.avaSwitch {
	display: inline-flex;
}
.avaSwitch input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 0px;
	width: 0px;
	border: 0;
	overflow: hidden;
}
.avaSwitch label {
	display: inline-block;
	text-align: center;
	transition: all 0.1s ease-in-out;
}
.avaSwitch label:hover {
	cursor: pointer;
}
.avaSwitch input:checked + label .avatarimg {
	-webkit-filter: drop-shadow(0px 0px 6px #eb740dc2);
}