.order_box1 {
    display: block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.order_box2 {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.block_box1 {
    width: 95%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.block_box2 {
    width: 100%;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.textOriginal {
    font-size: 20px;
}
.breakline {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

/* address */

/* product */
.product_info li {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    align-items: center;
}
.iiiimg {
    max-width: 120px;
    margin: 2px;
    text-align: center;
    height: 50px;
    max-height: 100px;
}
.product_info img {
    max-height: 100px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.product_info span {
    padding-right: 5px;
}
.p_name_div_g {
    margin: 3px;
}
.p_name_div_g span {
    display: block;
}
.p__format {
    color: gray;
    font-size: 14px;
}
.tttttext {
    white-space: nowrap;
}
/* freight */
.expresssss {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.innnnsurance {
    display: inline-flex;
}
    /* == the switch == */
.innnnsurance .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
    vertical-align: middle;
}
.innnnsurance .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.innnnsurance .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: rgb(199, 199, 199);
    -webkit-transition: .4s;
    transition: .4s;
}
.innnnsurance .slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: -3px;
    background-color: rgb(235, 235, 235);
    -webkit-transition: .4s;
    transition: .4s;
}
.innnnsurance .switch input:checked + .slider {
    background-color: #2196F3;
}
.innnnsurance .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.innnnsurance .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* price */
.pppp_info {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
/* payment */
.payment_info {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* ---- bottom ---- */
.bottom_box1 {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.bottom_box2 {
    width: 100%;
    max-width: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
}
.bottom_box3 {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.ppppprice {
    margin: auto;
    margin-left: 10px;
}
.ppppprice span {
    color: red;
    font-size: 20px;
}
.confirm_bbbbbuton button {
    border:none;
    background-color: sandybrown;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    padding: 5px 12px;
}
.confirm_bbbbbuton button:focus {
    outline-width: 0;
}



/* paying */
.whenyoupay {
    background-color: #121212b3;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    display: none;
}
  
.paying_outer {
    display: block;
    text-align: center;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}
  
.ppay_after {
    margin: auto;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ppay_after span {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.success-animation {
    display: none;
    padding-top: 100px;
}